---
version: 2.1

orbs:
  ansible-lint: orbss/ansible-lint@0.0.3
  aws-cli: circleci/aws-cli@3.1.1
  molecule-ec2: orbss/molecule-ec2@0.0.9
  yamllint: orbss/yamllint@0.0.4
  trailing-whitespace: orbss/trailing-whitespace@0.0.2

parameters:
  ansible_lint_executor_image:
    type: string
    default: ghcr.io/docker-images-mamono210/circleci-executors/ansible-lint:26.1.1-py3.14
  ansible_lint_executor_resource_class:
    type: enum
    enum: [small, medium, medium+, large]
    default: small
  molecule_ec2_executor_image:
    type: string
    default: ghcr.io/docker-images-mamono210/circleci-executors/molecule-default:25.12.0-py3.14
  molecule_ec2_executor_resource_class:
    type: enum
    enum: [small, medium, medium+, large]
    default: small
  molecule_ansible_user:
    type: string
    default: ec2-user
  molecule_aws_ami_name:
    type: string
    default: centos-stream9-1*
  molecule_aws_ami_owner_id:
    type: string
    default: "808683561341"
  molecule_aws_instance_type:
    type: string
    default: t2.medium
  molecule_aws_session_duration:
    type: string
    default: "3600"
  molecule_aws_vpc_subnet_id:
    type: string
    default: subnet-022a704b3061b8b39
  molecule_circleci_timeout:
    type: string
    default: 40m
  molecule_context:
    type: string
    default: AWS_OPENID_CONNECT_TOKENS
  yamllint_executor_image:
    type: string
    default: ghcr.io/docker-images-mamono210/circleci-executors/yamllint:1.38.0-py3.14
  yamllint_executor_resource_class:
    type: enum
    enum: [small, medium, medium+, large]
    default: small
  trailing_whitespace_executor_image:
    type: string
    default: ghcr.io/docker-images-mamono210/circleci-executors/trailing-whitespace:py3.14-20260210
  trailing_whitespace_resource_class:
    type: enum
    enum: [small, medium, medium+, large]
    default: small

jobs:
  ansible-lint:
    executor:
      name: ansible-lint/default
      image: << pipeline.parameters.ansible_lint_executor_image >>
      resource_class: << pipeline.parameters.ansible_lint_executor_resource_class >>
    steps:
      - checkout
      - ansible-lint/execute
  molecule-ec2:
    executor:
      name: molecule-ec2/default
      image: << pipeline.parameters.molecule_ec2_executor_image >>
      resource_class: << pipeline.parameters.molecule_ec2_executor_resource_class >>
    parameters:
      ansible-user:
        type: string
      aws-ami-name:
        type: string
      aws-ami-owner-id:
        type: string
      aws-instance-type:
        type: string
      aws-resource-name:
        type: string
      aws-session-duration:
        type: string
      aws-vpc-subnet-id:
        type: string
      circleci-timeout:
        type: string
      molecule-scenario-name:
        type: string
    steps:
      - checkout
      - aws-cli/setup:
          profile-name: default
          role-arn: ${AWS_ROLE_ARN}
          role-session-name: << parameters.aws-resource-name >>
          session-duration: << parameters.aws-session-duration >>
      - run:
          name: Install Ansible roles
          command: ansible-galaxy install -r molecule/<< parameters.molecule-scenario-name >>/requirements.yml
      - molecule-ec2/execute:
          ansible-user: << parameters.ansible-user >>
          aws-ami-name: << parameters.aws-ami-name >>
          aws-ami-owner-id: << parameters.aws-ami-owner-id >>
          aws-instance-type: << parameters.aws-instance-type >>
          aws-resource-name: << parameters.aws-resource-name >>
          aws-vpc-subnet-id: << parameters.aws-vpc-subnet-id >>
          circleci-timeout: << parameters.circleci-timeout >>
          molecule-scenario-name: << parameters.molecule-scenario-name >>
  yamllint:
    executor:
      name: yamllint/default
      image: << pipeline.parameters.yamllint_executor_image >>
      resource_class: << pipeline.parameters.yamllint_executor_resource_class >>
    steps:
      - checkout
      - yamllint/execute
  trailing-whitespace:
    executor:
      name: trailing-whitespace/default
      image: << pipeline.parameters.trailing_whitespace_executor_image >>
      resource_class: << pipeline.parameters.trailing_whitespace_resource_class >>
    steps:
      - checkout
      - trailing-whitespace/execute

workflows:
  version: 2.1
  build:
    jobs:
      - trailing-whitespace
      - yamllint:
          requires:
            - trailing-whitespace
      - ansible-lint:
          requires:
            - yamllint
      - molecule-ec2:
          ansible-user: << pipeline.parameters.molecule_ansible_user >>
          aws-ami-name: << pipeline.parameters.molecule_aws_ami_name >>
          aws-ami-owner-id: << pipeline.parameters.molecule_aws_ami_owner_id >>
          aws-instance-type: << pipeline.parameters.molecule_aws_instance_type >>
          aws-resource-name: circleci_ansible_playbook_docker_cs9
          aws-session-duration: << pipeline.parameters.molecule_aws_session_duration >>
          aws-vpc-subnet-id: << pipeline.parameters.molecule_aws_vpc_subnet_id >>
          circleci-timeout: << pipeline.parameters.molecule_circleci_timeout >>
          molecule-scenario-name: default
          context: << pipeline.parameters.molecule_context >>
          requires:
            - ansible-lint
